/*
.btn-rounded - для округлих кнопок
.btn-squared - для квадратних?
.btn-link - замість .btn-more?
*/
/* 
====================
GENERAL
====================
 */

.wrap {
	font-family: "Roboto", sans-serif;
}
.section {
	position: relative;
	padding-top: 11.4%;
	padding-bottom: 4%;
}
.container {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}
.title {
	text-transform: uppercase;
	margin: 0 auto;
	text-align: center;
}

.section-title {
	margin: 0 auto 1.6%;
	font-size: 28px;
	font-weight: 700;
}
.caption {
	margin: 0 auto 49px;
	font-size: 15px;
	line-height: 20px;
	width: 38.5%;
	text-align: center;
}
.section--grey {
	background-color: #f8f8f8;
}
.slider-btn {}
.row {
	font-size: 0;
	width: 100%;
}
.col-3, .col-4 {
	display: inline-block;
	font-size: 15px;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%
}
