.service-list
{
    margin: 8% auto;

    text-align: center;
}
.service-item
{
    font-size: 15px;

    position: relative;

    display: inline-block;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 16.66%;

    text-decoration: none;
    text-transform: uppercase;

    color: #0075d0;
    color: #000;
}
.service-icon
{
    width: 63%;
    height: 0;
    margin: 0 auto 18%;
    padding-top: 63%;

    border: 1px solid #dfdfdf;
    -webkit-border-radius: 50%;
    -webkit-border-radius: 50%;
            border-radius: 50%;
            border-radius: 50%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-box-shadow: 0 4px #bebebe;
            box-shadow: 0 4px #bebebe;
}

.service-icon-1
{
    background-image: url(../pic/services/icon-jsfiddle.png);
}
.service-icon-2
{
    background-image: url(../pic/services/icon-pied-piper-alt.png);
}
.service-icon-3
{
    background-image: url(../pic/services/icon-wordpress.png);
}
.service-icon-4
{
    background-image: url(../pic/services/icon-compass.png);
}
.service-icon-5
{
    background-image: url(../pic/services/icon-html5.png);
}
.service-icon-6
{
    background-image: url(../pic/services/icon-camera-retro.png);
}
