.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-icon-camera-retro {
    width: 69px;
    height: 59px;
    background-position: -20px -20px;
}

.sprite-icon-camera-retro--hover {
    width: 69px;
    height: 59px;
    background-position: -129px -20px;
}

.sprite-icon-compass {
    width: 59px;
    height: 59px;
    background-position: -238px -20px;
}

.sprite-icon-compass--hover {
    width: 59px;
    height: 59px;
    background-position: -337px -20px;
}

.sprite-icon-html5 {
    width: 54px;
    height: 61px;
    background-position: -436px -20px;
}

.sprite-icon-html5--hover {
    width: 54px;
    height: 61px;
    background-position: -530px -20px;
}

.sprite-icon-jsfiddle {
    width: 78px;
    height: 53px;
    background-position: -624px -20px;
}

.sprite-icon-jsfiddle--hover {
    width: 78px;
    height: 53px;
    background-position: -742px -20px;
}

.sprite-icon-pied-piper--hover {
    width: 74px;
    height: 67px;
    background-position: -860px -20px;
}

.sprite-icon-pied-piper-alt {
    width: 74px;
    height: 67px;
    background-position: -974px -20px;
}

.sprite-icon-wordpress {
    width: 68px;
    height: 68px;
    background-position: -1088px -20px;
}

.sprite-icon-wordpress--hover {
    width: 68px;
    height: 68px;
    background-position: -1196px -20px;
}