.team-list
{
    font-size: 0;

    width: 102.5%;
    margin-top: 6.9%;
    margin-left: -1.25%;

    text-align: center;
}

.team-member
{
    font-size: 15px;

    display: inline-block;

    box-sizing: border-box;
    width: 25%;
    padding: 15px;
}

.team-image
{
    width: 100%;
}
.team-name
{
    font-weight: 700;

    margin-top: 9.5%;
    margin-bottom: 5.7%;
}

.team-position
{
    font-weight: 700;

    color: #0075d0;
}

.team-position:after
{
    display: block;

    width: 9px;
    height: 9px;
    margin: 17px auto;

    content: '';

    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #959595;
}

.section-join
{
    margin-top: 9.2%;
    padding: 50px 0;

    background-color: #0075d0;
}

.section-join:after
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    width: 0;
    height: 0;
    margin: 0 auto;

    content: '';

    border-top: 15px solid #fff;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
}
