/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-camera-retro-hover-name: 'icon-camera-retro--hover';
$icon-camera-retro-hover-x: 0px;
$icon-camera-retro-hover-y: 101px;
$icon-camera-retro-hover-offset-x: 0px;
$icon-camera-retro-hover-offset-y: -101px;
$icon-camera-retro-hover-width: 51px;
$icon-camera-retro-hover-height: 44px;
$icon-camera-retro-hover-total-width: 249px;
$icon-camera-retro-hover-total-height: 182px;
$icon-camera-retro-hover-image: 'sprite.png';
$icon-camera-retro-hover: (0px, 101px, 0px, -101px, 51px, 44px, 249px, 182px, 'sprite.png', 'icon-camera-retro--hover', );
$icon-camera-retro-name: 'icon-camera-retro';
$icon-camera-retro-x: 51px;
$icon-camera-retro-y: 101px;
$icon-camera-retro-offset-x: -51px;
$icon-camera-retro-offset-y: -101px;
$icon-camera-retro-width: 51px;
$icon-camera-retro-height: 44px;
$icon-camera-retro-total-width: 249px;
$icon-camera-retro-total-height: 182px;
$icon-camera-retro-image: 'sprite.png';
$icon-camera-retro: (51px, 101px, -51px, -101px, 51px, 44px, 249px, 182px, 'sprite.png', 'icon-camera-retro', );
$icon-compass-hover-name: 'icon-compass--hover';
$icon-compass-hover-x: 102px;
$icon-compass-hover-y: 101px;
$icon-compass-hover-offset-x: -102px;
$icon-compass-hover-offset-y: -101px;
$icon-compass-hover-width: 44px;
$icon-compass-hover-height: 44px;
$icon-compass-hover-total-width: 249px;
$icon-compass-hover-total-height: 182px;
$icon-compass-hover-image: 'sprite.png';
$icon-compass-hover: (102px, 101px, -102px, -101px, 44px, 44px, 249px, 182px, 'sprite.png', 'icon-compass--hover', );
$icon-compass-name: 'icon-compass';
$icon-compass-x: 168px;
$icon-compass-y: 0px;
$icon-compass-offset-x: -168px;
$icon-compass-offset-y: 0px;
$icon-compass-width: 44px;
$icon-compass-height: 44px;
$icon-compass-total-width: 249px;
$icon-compass-total-height: 182px;
$icon-compass-image: 'sprite.png';
$icon-compass: (168px, 0px, -168px, 0px, 44px, 44px, 249px, 182px, 'sprite.png', 'icon-compass', );
$icon-envelope-name: 'icon-envelope';
$icon-envelope-x: 146px;
$icon-envelope-y: 101px;
$icon-envelope-offset-x: -146px;
$icon-envelope-offset-y: -101px;
$icon-envelope-width: 20px;
$icon-envelope-height: 15px;
$icon-envelope-total-width: 249px;
$icon-envelope-total-height: 182px;
$icon-envelope-image: 'sprite.png';
$icon-envelope: (146px, 101px, -146px, -101px, 20px, 15px, 249px, 182px, 'sprite.png', 'icon-envelope', );
$icon-facebook-name: 'icon-facebook';
$icon-facebook-x: 146px;
$icon-facebook-y: 116px;
$icon-facebook-offset-x: -146px;
$icon-facebook-offset-y: -116px;
$icon-facebook-width: 11px;
$icon-facebook-height: 24px;
$icon-facebook-total-width: 249px;
$icon-facebook-total-height: 182px;
$icon-facebook-image: 'sprite.png';
$icon-facebook: (146px, 116px, -146px, -116px, 11px, 24px, 249px, 182px, 'sprite.png', 'icon-facebook', );
$icon-gear-name: 'icon-gear';
$icon-gear-x: 212px;
$icon-gear-y: 37px;
$icon-gear-offset-x: -212px;
$icon-gear-offset-y: -37px;
$icon-gear-width: 37px;
$icon-gear-height: 37px;
$icon-gear-total-width: 249px;
$icon-gear-total-height: 182px;
$icon-gear-image: 'sprite.png';
$icon-gear: (212px, 37px, -212px, -37px, 37px, 37px, 249px, 182px, 'sprite.png', 'icon-gear', );
$icon-google-plus-name: 'icon-google-plus';
$icon-google-plus-x: 110px;
$icon-google-plus-y: 78px;
$icon-google-plus-offset-x: -110px;
$icon-google-plus-offset-y: -78px;
$icon-google-plus-width: 24px;
$icon-google-plus-height: 20px;
$icon-google-plus-total-width: 249px;
$icon-google-plus-total-height: 182px;
$icon-google-plus-image: 'sprite.png';
$icon-google-plus: (110px, 78px, -110px, -78px, 24px, 20px, 249px, 182px, 'sprite.png', 'icon-google-plus', );
$icon-group-name: 'icon-group';
$icon-group-x: 0px;
$icon-group-y: 145px;
$icon-group-offset-x: 0px;
$icon-group-offset-y: -145px;
$icon-group-width: 40px;
$icon-group-height: 37px;
$icon-group-total-width: 249px;
$icon-group-total-height: 182px;
$icon-group-image: 'sprite.png';
$icon-group: (0px, 145px, 0px, -145px, 40px, 37px, 249px, 182px, 'sprite.png', 'icon-group', );
$icon-history-name: 'icon-history';
$icon-history-x: 40px;
$icon-history-y: 145px;
$icon-history-offset-x: -40px;
$icon-history-offset-y: -145px;
$icon-history-width: 37px;
$icon-history-height: 37px;
$icon-history-total-width: 249px;
$icon-history-total-height: 182px;
$icon-history-image: 'sprite.png';
$icon-history: (40px, 145px, -40px, -145px, 37px, 37px, 249px, 182px, 'sprite.png', 'icon-history', );
$icon-html5-hover-name: 'icon-html5--hover';
$icon-html5-hover-x: 168px;
$icon-html5-hover-y: 44px;
$icon-html5-hover-offset-x: -168px;
$icon-html5-hover-offset-y: -44px;
$icon-html5-hover-width: 40px;
$icon-html5-hover-height: 45px;
$icon-html5-hover-total-width: 249px;
$icon-html5-hover-total-height: 182px;
$icon-html5-hover-image: 'sprite.png';
$icon-html5-hover: (168px, 44px, -168px, -44px, 40px, 45px, 249px, 182px, 'sprite.png', 'icon-html5--hover', );
$icon-html5-name: 'icon-html5';
$icon-html5-x: 168px;
$icon-html5-y: 89px;
$icon-html5-offset-x: -168px;
$icon-html5-offset-y: -89px;
$icon-html5-width: 40px;
$icon-html5-height: 45px;
$icon-html5-total-width: 249px;
$icon-html5-total-height: 182px;
$icon-html5-image: 'sprite.png';
$icon-html5: (168px, 89px, -168px, -89px, 40px, 45px, 249px, 182px, 'sprite.png', 'icon-html5', );
$icon-jsfiddle-hover-name: 'icon-jsfiddle--hover';
$icon-jsfiddle-hover-x: 110px;
$icon-jsfiddle-hover-y: 39px;
$icon-jsfiddle-hover-offset-x: -110px;
$icon-jsfiddle-hover-offset-y: -39px;
$icon-jsfiddle-hover-width: 58px;
$icon-jsfiddle-hover-height: 39px;
$icon-jsfiddle-hover-total-width: 249px;
$icon-jsfiddle-hover-total-height: 182px;
$icon-jsfiddle-hover-image: 'sprite.png';
$icon-jsfiddle-hover: (110px, 39px, -110px, -39px, 58px, 39px, 249px, 182px, 'sprite.png', 'icon-jsfiddle--hover', );
$icon-jsfiddle-name: 'icon-jsfiddle';
$icon-jsfiddle-x: 110px;
$icon-jsfiddle-y: 0px;
$icon-jsfiddle-offset-x: -110px;
$icon-jsfiddle-offset-y: 0px;
$icon-jsfiddle-width: 58px;
$icon-jsfiddle-height: 39px;
$icon-jsfiddle-total-width: 249px;
$icon-jsfiddle-total-height: 182px;
$icon-jsfiddle-image: 'sprite.png';
$icon-jsfiddle: (110px, 0px, -110px, 0px, 58px, 39px, 249px, 182px, 'sprite.png', 'icon-jsfiddle', );
$icon-linkedin-name: 'icon-linkedin';
$icon-linkedin-x: 212px;
$icon-linkedin-y: 148px;
$icon-linkedin-offset-x: -212px;
$icon-linkedin-offset-y: -148px;
$icon-linkedin-width: 24px;
$icon-linkedin-height: 23px;
$icon-linkedin-total-width: 249px;
$icon-linkedin-total-height: 182px;
$icon-linkedin-image: 'sprite.png';
$icon-linkedin: (212px, 148px, -212px, -148px, 24px, 23px, 249px, 182px, 'sprite.png', 'icon-linkedin', );
$icon-love-name: 'icon-love';
$icon-love-x: 114px;
$icon-love-y: 145px;
$icon-love-offset-x: -114px;
$icon-love-offset-y: -145px;
$icon-love-width: 37px;
$icon-love-height: 37px;
$icon-love-total-width: 249px;
$icon-love-total-height: 182px;
$icon-love-image: 'sprite.png';
$icon-love: (114px, 145px, -114px, -145px, 37px, 37px, 249px, 182px, 'sprite.png', 'icon-love', );
$icon-phone-name: 'icon-phone';
$icon-phone-x: 188px;
$icon-phone-y: 145px;
$icon-phone-offset-x: -188px;
$icon-phone-offset-y: -145px;
$icon-phone-width: 16px;
$icon-phone-height: 15px;
$icon-phone-total-width: 249px;
$icon-phone-total-height: 182px;
$icon-phone-image: 'sprite.png';
$icon-phone: (188px, 145px, -188px, -145px, 16px, 15px, 249px, 182px, 'sprite.png', 'icon-phone', );
$icon-piped-piper-hover-name: 'icon-piped-piper--hover';
$icon-piped-piper-hover-x: 55px;
$icon-piped-piper-hover-y: 0px;
$icon-piped-piper-hover-offset-x: -55px;
$icon-piped-piper-hover-offset-y: 0px;
$icon-piped-piper-hover-width: 55px;
$icon-piped-piper-hover-height: 50px;
$icon-piped-piper-hover-total-width: 249px;
$icon-piped-piper-hover-total-height: 182px;
$icon-piped-piper-hover-image: 'sprite.png';
$icon-piped-piper-hover: (55px, 0px, -55px, 0px, 55px, 50px, 249px, 182px, 'sprite.png', 'icon-piped-piper--hover', );
$icon-piped-piper-name: 'icon-piped-piper';
$icon-piped-piper-x: 0px;
$icon-piped-piper-y: 0px;
$icon-piped-piper-offset-x: 0px;
$icon-piped-piper-offset-y: 0px;
$icon-piped-piper-width: 55px;
$icon-piped-piper-height: 50px;
$icon-piped-piper-total-width: 249px;
$icon-piped-piper-total-height: 182px;
$icon-piped-piper-image: 'sprite.png';
$icon-piped-piper: (0px, 0px, 0px, 0px, 55px, 50px, 249px, 182px, 'sprite.png', 'icon-piped-piper', );
$icon-soc-behance-name: 'icon-soc-behance';
$icon-soc-behance-x: 212px;
$icon-soc-behance-y: 74px;
$icon-soc-behance-offset-x: -212px;
$icon-soc-behance-offset-y: -74px;
$icon-soc-behance-width: 37px;
$icon-soc-behance-height: 37px;
$icon-soc-behance-total-width: 249px;
$icon-soc-behance-total-height: 182px;
$icon-soc-behance-image: 'sprite.png';
$icon-soc-behance: (212px, 74px, -212px, -74px, 37px, 37px, 249px, 182px, 'sprite.png', 'icon-soc-behance', );
$icon-soc-facebook-name: 'icon-soc-facebook';
$icon-soc-facebook-x: 212px;
$icon-soc-facebook-y: 111px;
$icon-soc-facebook-offset-x: -212px;
$icon-soc-facebook-offset-y: -111px;
$icon-soc-facebook-width: 37px;
$icon-soc-facebook-height: 37px;
$icon-soc-facebook-total-width: 249px;
$icon-soc-facebook-total-height: 182px;
$icon-soc-facebook-image: 'sprite.png';
$icon-soc-facebook: (212px, 111px, -212px, -111px, 37px, 37px, 249px, 182px, 'sprite.png', 'icon-soc-facebook', );
$icon-soc-flickr-name: 'icon-soc-flickr';
$icon-soc-flickr-x: 212px;
$icon-soc-flickr-y: 0px;
$icon-soc-flickr-offset-x: -212px;
$icon-soc-flickr-offset-y: 0px;
$icon-soc-flickr-width: 37px;
$icon-soc-flickr-height: 37px;
$icon-soc-flickr-total-width: 249px;
$icon-soc-flickr-total-height: 182px;
$icon-soc-flickr-image: 'sprite.png';
$icon-soc-flickr: (212px, 0px, -212px, 0px, 37px, 37px, 249px, 182px, 'sprite.png', 'icon-soc-flickr', );
$icon-soc-linkedin-name: 'icon-soc-linkedin';
$icon-soc-linkedin-x: 151px;
$icon-soc-linkedin-y: 145px;
$icon-soc-linkedin-offset-x: -151px;
$icon-soc-linkedin-offset-y: -145px;
$icon-soc-linkedin-width: 37px;
$icon-soc-linkedin-height: 37px;
$icon-soc-linkedin-total-width: 249px;
$icon-soc-linkedin-total-height: 182px;
$icon-soc-linkedin-image: 'sprite.png';
$icon-soc-linkedin: (151px, 145px, -151px, -145px, 37px, 37px, 249px, 182px, 'sprite.png', 'icon-soc-linkedin', );
$icon-soc-twitter-name: 'icon-soc-twitter';
$icon-soc-twitter-x: 77px;
$icon-soc-twitter-y: 145px;
$icon-soc-twitter-offset-x: -77px;
$icon-soc-twitter-offset-y: -145px;
$icon-soc-twitter-width: 37px;
$icon-soc-twitter-height: 37px;
$icon-soc-twitter-total-width: 249px;
$icon-soc-twitter-total-height: 182px;
$icon-soc-twitter-image: 'sprite.png';
$icon-soc-twitter: (77px, 145px, -77px, -145px, 37px, 37px, 249px, 182px, 'sprite.png', 'icon-soc-twitter', );
$icon-twitter-name: 'icon-twitter';
$icon-twitter-x: 134px;
$icon-twitter-y: 78px;
$icon-twitter-offset-x: -134px;
$icon-twitter-offset-y: -78px;
$icon-twitter-width: 24px;
$icon-twitter-height: 19px;
$icon-twitter-total-width: 249px;
$icon-twitter-total-height: 182px;
$icon-twitter-image: 'sprite.png';
$icon-twitter: (134px, 78px, -134px, -78px, 24px, 19px, 249px, 182px, 'sprite.png', 'icon-twitter', );
$icon-wordpress-hover-name: 'icon-wordpress--hover';
$icon-wordpress-hover-x: 51px;
$icon-wordpress-hover-y: 50px;
$icon-wordpress-hover-offset-x: -51px;
$icon-wordpress-hover-offset-y: -50px;
$icon-wordpress-hover-width: 51px;
$icon-wordpress-hover-height: 51px;
$icon-wordpress-hover-total-width: 249px;
$icon-wordpress-hover-total-height: 182px;
$icon-wordpress-hover-image: 'sprite.png';
$icon-wordpress-hover: (51px, 50px, -51px, -50px, 51px, 51px, 249px, 182px, 'sprite.png', 'icon-wordpress--hover', );
$icon-wordpress-name: 'icon-wordpress';
$icon-wordpress-x: 0px;
$icon-wordpress-y: 50px;
$icon-wordpress-offset-x: 0px;
$icon-wordpress-offset-y: -50px;
$icon-wordpress-width: 51px;
$icon-wordpress-height: 51px;
$icon-wordpress-total-width: 249px;
$icon-wordpress-total-height: 182px;
$icon-wordpress-image: 'sprite.png';
$icon-wordpress: (0px, 50px, 0px, -50px, 51px, 51px, 249px, 182px, 'sprite.png', 'icon-wordpress', );
$spritesheet-width: 249px;
$spritesheet-height: 182px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($icon-camera-retro-hover, $icon-camera-retro, $icon-compass-hover, $icon-compass, $icon-envelope, $icon-facebook, $icon-gear, $icon-google-plus, $icon-group, $icon-history, $icon-html5-hover, $icon-html5, $icon-jsfiddle-hover, $icon-jsfiddle, $icon-linkedin, $icon-love, $icon-phone, $icon-piped-piper-hover, $icon-piped-piper, $icon-soc-behance, $icon-soc-facebook, $icon-soc-flickr, $icon-soc-linkedin, $icon-soc-twitter, $icon-twitter, $icon-wordpress-hover, $icon-wordpress, );
$spritesheet: (249px, 182px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(../images/#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
