/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-camera-retro-hover-name: 'icon-camera-retro--hover';
$icon-camera-retro-hover-x: 0px;
$icon-camera-retro-hover-y: 135px;
$icon-camera-retro-hover-offset-x: 0px;
$icon-camera-retro-hover-offset-y: -135px;
$icon-camera-retro-hover-width: 69px;
$icon-camera-retro-hover-height: 59px;
$icon-camera-retro-hover-total-width: 335px;
$icon-camera-retro-hover-total-height: 244px;
$icon-camera-retro-hover-image: 'sprite.png';
$icon-camera-retro-hover: (0px, 135px, 0px, -135px, 69px, 59px, 335px, 244px, 'sprite.png', 'icon-camera-retro--hover', );
$icon-camera-retro-name: 'icon-camera-retro';
$icon-camera-retro-x: 69px;
$icon-camera-retro-y: 135px;
$icon-camera-retro-offset-x: -69px;
$icon-camera-retro-offset-y: -135px;
$icon-camera-retro-width: 69px;
$icon-camera-retro-height: 59px;
$icon-camera-retro-total-width: 335px;
$icon-camera-retro-total-height: 244px;
$icon-camera-retro-image: 'sprite.png';
$icon-camera-retro: (69px, 135px, -69px, -135px, 69px, 59px, 335px, 244px, 'sprite.png', 'icon-camera-retro', );
$icon-compass-hover-name: 'icon-compass--hover';
$icon-compass-hover-x: 138px;
$icon-compass-hover-y: 135px;
$icon-compass-hover-offset-x: -138px;
$icon-compass-hover-offset-y: -135px;
$icon-compass-hover-width: 59px;
$icon-compass-hover-height: 59px;
$icon-compass-hover-total-width: 335px;
$icon-compass-hover-total-height: 244px;
$icon-compass-hover-image: 'sprite.png';
$icon-compass-hover: (138px, 135px, -138px, -135px, 59px, 59px, 335px, 244px, 'sprite.png', 'icon-compass--hover', );
$icon-compass-name: 'icon-compass';
$icon-compass-x: 226px;
$icon-compass-y: 0px;
$icon-compass-offset-x: -226px;
$icon-compass-offset-y: 0px;
$icon-compass-width: 59px;
$icon-compass-height: 59px;
$icon-compass-total-width: 335px;
$icon-compass-total-height: 244px;
$icon-compass-image: 'sprite.png';
$icon-compass: (226px, 0px, -226px, 0px, 59px, 59px, 335px, 244px, 'sprite.png', 'icon-compass', );
$icon-envelope-name: 'icon-envelope';
$icon-envelope-x: 197px;
$icon-envelope-y: 167px;
$icon-envelope-offset-x: -197px;
$icon-envelope-offset-y: -167px;
$icon-envelope-width: 20px;
$icon-envelope-height: 15px;
$icon-envelope-total-width: 335px;
$icon-envelope-total-height: 244px;
$icon-envelope-image: 'sprite.png';
$icon-envelope: (197px, 167px, -197px, -167px, 20px, 15px, 335px, 244px, 'sprite.png', 'icon-envelope', );
$icon-facebook-name: 'icon-facebook';
$icon-facebook-x: 197px;
$icon-facebook-y: 135px;
$icon-facebook-offset-x: -197px;
$icon-facebook-offset-y: -135px;
$icon-facebook-width: 15px;
$icon-facebook-height: 32px;
$icon-facebook-total-width: 335px;
$icon-facebook-total-height: 244px;
$icon-facebook-image: 'sprite.png';
$icon-facebook: (197px, 135px, -197px, -135px, 15px, 32px, 335px, 244px, 'sprite.png', 'icon-facebook', );
$icon-gear-name: 'icon-gear';
$icon-gear-x: 285px;
$icon-gear-y: 50px;
$icon-gear-offset-x: -285px;
$icon-gear-offset-y: -50px;
$icon-gear-width: 50px;
$icon-gear-height: 50px;
$icon-gear-total-width: 335px;
$icon-gear-total-height: 244px;
$icon-gear-image: 'sprite.png';
$icon-gear: (285px, 50px, -285px, -50px, 50px, 50px, 335px, 244px, 'sprite.png', 'icon-gear', );
$icon-google-plus-name: 'icon-google-plus';
$icon-google-plus-x: 148px;
$icon-google-plus-y: 106px;
$icon-google-plus-offset-x: -148px;
$icon-google-plus-offset-y: -106px;
$icon-google-plus-width: 32px;
$icon-google-plus-height: 27px;
$icon-google-plus-total-width: 335px;
$icon-google-plus-total-height: 244px;
$icon-google-plus-image: 'sprite.png';
$icon-google-plus: (148px, 106px, -148px, -106px, 32px, 27px, 335px, 244px, 'sprite.png', 'icon-google-plus', );
$icon-group-name: 'icon-group';
$icon-group-x: 0px;
$icon-group-y: 194px;
$icon-group-offset-x: 0px;
$icon-group-offset-y: -194px;
$icon-group-width: 54px;
$icon-group-height: 50px;
$icon-group-total-width: 335px;
$icon-group-total-height: 244px;
$icon-group-image: 'sprite.png';
$icon-group: (0px, 194px, 0px, -194px, 54px, 50px, 335px, 244px, 'sprite.png', 'icon-group', );
$icon-history-name: 'icon-history';
$icon-history-x: 54px;
$icon-history-y: 194px;
$icon-history-offset-x: -54px;
$icon-history-offset-y: -194px;
$icon-history-width: 50px;
$icon-history-height: 50px;
$icon-history-total-width: 335px;
$icon-history-total-height: 244px;
$icon-history-image: 'sprite.png';
$icon-history: (54px, 194px, -54px, -194px, 50px, 50px, 335px, 244px, 'sprite.png', 'icon-history', );
$icon-html5-hover-name: 'icon-html5--hover';
$icon-html5-hover-x: 226px;
$icon-html5-hover-y: 59px;
$icon-html5-hover-offset-x: -226px;
$icon-html5-hover-offset-y: -59px;
$icon-html5-hover-width: 54px;
$icon-html5-hover-height: 61px;
$icon-html5-hover-total-width: 335px;
$icon-html5-hover-total-height: 244px;
$icon-html5-hover-image: 'sprite.png';
$icon-html5-hover: (226px, 59px, -226px, -59px, 54px, 61px, 335px, 244px, 'sprite.png', 'icon-html5--hover', );
$icon-html5-name: 'icon-html5';
$icon-html5-x: 226px;
$icon-html5-y: 120px;
$icon-html5-offset-x: -226px;
$icon-html5-offset-y: -120px;
$icon-html5-width: 54px;
$icon-html5-height: 61px;
$icon-html5-total-width: 335px;
$icon-html5-total-height: 244px;
$icon-html5-image: 'sprite.png';
$icon-html5: (226px, 120px, -226px, -120px, 54px, 61px, 335px, 244px, 'sprite.png', 'icon-html5', );
$icon-jsfiddle-hover-name: 'icon-jsfiddle--hover';
$icon-jsfiddle-hover-x: 148px;
$icon-jsfiddle-hover-y: 53px;
$icon-jsfiddle-hover-offset-x: -148px;
$icon-jsfiddle-hover-offset-y: -53px;
$icon-jsfiddle-hover-width: 78px;
$icon-jsfiddle-hover-height: 53px;
$icon-jsfiddle-hover-total-width: 335px;
$icon-jsfiddle-hover-total-height: 244px;
$icon-jsfiddle-hover-image: 'sprite.png';
$icon-jsfiddle-hover: (148px, 53px, -148px, -53px, 78px, 53px, 335px, 244px, 'sprite.png', 'icon-jsfiddle--hover', );
$icon-jsfiddle-name: 'icon-jsfiddle';
$icon-jsfiddle-x: 148px;
$icon-jsfiddle-y: 0px;
$icon-jsfiddle-offset-x: -148px;
$icon-jsfiddle-offset-y: 0px;
$icon-jsfiddle-width: 78px;
$icon-jsfiddle-height: 53px;
$icon-jsfiddle-total-width: 335px;
$icon-jsfiddle-total-height: 244px;
$icon-jsfiddle-image: 'sprite.png';
$icon-jsfiddle: (148px, 0px, -148px, 0px, 78px, 53px, 335px, 244px, 'sprite.png', 'icon-jsfiddle', );
$icon-linkedin-name: 'icon-linkedin';
$icon-linkedin-x: 285px;
$icon-linkedin-y: 200px;
$icon-linkedin-offset-x: -285px;
$icon-linkedin-offset-y: -200px;
$icon-linkedin-width: 32px;
$icon-linkedin-height: 31px;
$icon-linkedin-total-width: 335px;
$icon-linkedin-total-height: 244px;
$icon-linkedin-image: 'sprite.png';
$icon-linkedin: (285px, 200px, -285px, -200px, 32px, 31px, 335px, 244px, 'sprite.png', 'icon-linkedin', );
$icon-love-name: 'icon-love';
$icon-love-x: 154px;
$icon-love-y: 194px;
$icon-love-offset-x: -154px;
$icon-love-offset-y: -194px;
$icon-love-width: 50px;
$icon-love-height: 50px;
$icon-love-total-width: 335px;
$icon-love-total-height: 244px;
$icon-love-image: 'sprite.png';
$icon-love: (154px, 194px, -154px, -194px, 50px, 50px, 335px, 244px, 'sprite.png', 'icon-love', );
$icon-phone-name: 'icon-phone';
$icon-phone-x: 317px;
$icon-phone-y: 200px;
$icon-phone-offset-x: -317px;
$icon-phone-offset-y: -200px;
$icon-phone-width: 16px;
$icon-phone-height: 15px;
$icon-phone-total-width: 335px;
$icon-phone-total-height: 244px;
$icon-phone-image: 'sprite.png';
$icon-phone: (317px, 200px, -317px, -200px, 16px, 15px, 335px, 244px, 'sprite.png', 'icon-phone', );
$icon-piped-piper-hover-name: 'icon-piped-piper--hover';
$icon-piped-piper-hover-x: 74px;
$icon-piped-piper-hover-y: 0px;
$icon-piped-piper-hover-offset-x: -74px;
$icon-piped-piper-hover-offset-y: 0px;
$icon-piped-piper-hover-width: 74px;
$icon-piped-piper-hover-height: 67px;
$icon-piped-piper-hover-total-width: 335px;
$icon-piped-piper-hover-total-height: 244px;
$icon-piped-piper-hover-image: 'sprite.png';
$icon-piped-piper-hover: (74px, 0px, -74px, 0px, 74px, 67px, 335px, 244px, 'sprite.png', 'icon-piped-piper--hover', );
$icon-piped-piper-name: 'icon-piped-piper';
$icon-piped-piper-x: 0px;
$icon-piped-piper-y: 0px;
$icon-piped-piper-offset-x: 0px;
$icon-piped-piper-offset-y: 0px;
$icon-piped-piper-width: 74px;
$icon-piped-piper-height: 67px;
$icon-piped-piper-total-width: 335px;
$icon-piped-piper-total-height: 244px;
$icon-piped-piper-image: 'sprite.png';
$icon-piped-piper: (0px, 0px, 0px, 0px, 74px, 67px, 335px, 244px, 'sprite.png', 'icon-piped-piper', );
$icon-soc-behance-name: 'icon-soc-behance';
$icon-soc-behance-x: 285px;
$icon-soc-behance-y: 100px;
$icon-soc-behance-offset-x: -285px;
$icon-soc-behance-offset-y: -100px;
$icon-soc-behance-width: 50px;
$icon-soc-behance-height: 50px;
$icon-soc-behance-total-width: 335px;
$icon-soc-behance-total-height: 244px;
$icon-soc-behance-image: 'sprite.png';
$icon-soc-behance: (285px, 100px, -285px, -100px, 50px, 50px, 335px, 244px, 'sprite.png', 'icon-soc-behance', );
$icon-soc-facebook-name: 'icon-soc-facebook';
$icon-soc-facebook-x: 285px;
$icon-soc-facebook-y: 150px;
$icon-soc-facebook-offset-x: -285px;
$icon-soc-facebook-offset-y: -150px;
$icon-soc-facebook-width: 50px;
$icon-soc-facebook-height: 50px;
$icon-soc-facebook-total-width: 335px;
$icon-soc-facebook-total-height: 244px;
$icon-soc-facebook-image: 'sprite.png';
$icon-soc-facebook: (285px, 150px, -285px, -150px, 50px, 50px, 335px, 244px, 'sprite.png', 'icon-soc-facebook', );
$icon-soc-flickr-name: 'icon-soc-flickr';
$icon-soc-flickr-x: 285px;
$icon-soc-flickr-y: 0px;
$icon-soc-flickr-offset-x: -285px;
$icon-soc-flickr-offset-y: 0px;
$icon-soc-flickr-width: 50px;
$icon-soc-flickr-height: 50px;
$icon-soc-flickr-total-width: 335px;
$icon-soc-flickr-total-height: 244px;
$icon-soc-flickr-image: 'sprite.png';
$icon-soc-flickr: (285px, 0px, -285px, 0px, 50px, 50px, 335px, 244px, 'sprite.png', 'icon-soc-flickr', );
$icon-soc-linkedin-name: 'icon-soc-linkedin';
$icon-soc-linkedin-x: 204px;
$icon-soc-linkedin-y: 194px;
$icon-soc-linkedin-offset-x: -204px;
$icon-soc-linkedin-offset-y: -194px;
$icon-soc-linkedin-width: 50px;
$icon-soc-linkedin-height: 50px;
$icon-soc-linkedin-total-width: 335px;
$icon-soc-linkedin-total-height: 244px;
$icon-soc-linkedin-image: 'sprite.png';
$icon-soc-linkedin: (204px, 194px, -204px, -194px, 50px, 50px, 335px, 244px, 'sprite.png', 'icon-soc-linkedin', );
$icon-soc-twitter-name: 'icon-soc-twitter';
$icon-soc-twitter-x: 104px;
$icon-soc-twitter-y: 194px;
$icon-soc-twitter-offset-x: -104px;
$icon-soc-twitter-offset-y: -194px;
$icon-soc-twitter-width: 50px;
$icon-soc-twitter-height: 50px;
$icon-soc-twitter-total-width: 335px;
$icon-soc-twitter-total-height: 244px;
$icon-soc-twitter-image: 'sprite.png';
$icon-soc-twitter: (104px, 194px, -104px, -194px, 50px, 50px, 335px, 244px, 'sprite.png', 'icon-soc-twitter', );
$icon-twitter-name: 'icon-twitter';
$icon-twitter-x: 180px;
$icon-twitter-y: 106px;
$icon-twitter-offset-x: -180px;
$icon-twitter-offset-y: -106px;
$icon-twitter-width: 32px;
$icon-twitter-height: 26px;
$icon-twitter-total-width: 335px;
$icon-twitter-total-height: 244px;
$icon-twitter-image: 'sprite.png';
$icon-twitter: (180px, 106px, -180px, -106px, 32px, 26px, 335px, 244px, 'sprite.png', 'icon-twitter', );
$icon-wordpress-hover-name: 'icon-wordpress--hover';
$icon-wordpress-hover-x: 68px;
$icon-wordpress-hover-y: 67px;
$icon-wordpress-hover-offset-x: -68px;
$icon-wordpress-hover-offset-y: -67px;
$icon-wordpress-hover-width: 68px;
$icon-wordpress-hover-height: 68px;
$icon-wordpress-hover-total-width: 335px;
$icon-wordpress-hover-total-height: 244px;
$icon-wordpress-hover-image: 'sprite.png';
$icon-wordpress-hover: (68px, 67px, -68px, -67px, 68px, 68px, 335px, 244px, 'sprite.png', 'icon-wordpress--hover', );
$icon-wordpress-name: 'icon-wordpress';
$icon-wordpress-x: 0px;
$icon-wordpress-y: 67px;
$icon-wordpress-offset-x: 0px;
$icon-wordpress-offset-y: -67px;
$icon-wordpress-width: 68px;
$icon-wordpress-height: 68px;
$icon-wordpress-total-width: 335px;
$icon-wordpress-total-height: 244px;
$icon-wordpress-image: 'sprite.png';
$icon-wordpress: (0px, 67px, 0px, -67px, 68px, 68px, 335px, 244px, 'sprite.png', 'icon-wordpress', );
$spritesheet-width: 335px;
$spritesheet-height: 244px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($icon-camera-retro-hover, $icon-camera-retro, $icon-compass-hover, $icon-compass, $icon-envelope, $icon-facebook, $icon-gear, $icon-google-plus, $icon-group, $icon-history, $icon-html5-hover, $icon-html5, $icon-jsfiddle-hover, $icon-jsfiddle, $icon-linkedin, $icon-love, $icon-phone, $icon-piped-piper-hover, $icon-piped-piper, $icon-soc-behance, $icon-soc-facebook, $icon-soc-flickr, $icon-soc-linkedin, $icon-soc-twitter, $icon-twitter, $icon-wordpress-hover, $icon-wordpress, );
$spritesheet: (335px, 244px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(../images/#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
