@import "core/_reset.scss";
@import "core/_variables.scss";
@import "_base.sass";
@import "_icon.scss";
@import "blocks/_banner.sass";
@import "components/_buttons.sass";
@import "blocks/_services.sass";
@import "blocks/_portfolio.sass";
@import "blocks/_testimonials.sass";
@import "blocks/_about.sass";
@import "blocks/_team.sass";
@import "blocks/_clients.sass";
@import "blocks/_blog.sass";
@import "blocks/_form.sass";
@import "blocks/_footer.sass";