.advantage-list
  width: 100%
  margin-bottom: 12.5%

.advantage-item
  line-height: 20px
  box-sizing: border-box
  padding: 0 1%
  color: #6e6e6e
  margin-top: 5%
  @include mobile-l
    display: block
    width: 100%
  @include mobile
    display: block
    width: 100%

.advantage-title
  font-size: 19px
  position: relative
  margin-bottom: 31px
  text-transform: uppercase
  &:after
    position: absolute
    top: 25px
    left: 0
    width: 50px
    height: 4px
    content: ''
    background-color: #0075d0

.section-figures
  z-index: -2
  padding-top: 0
  padding-bottom: 4%
  background-image: url(../images/bg-figures.jpg)
  background-position: 50%
  margin-bottom: 1px
  &:after
    position: absolute
    z-index: -1
    top: 0
    right: 0
    bottom: 0
    left: 0
    content: ''
    background-color: rgba(2, 116, 188, 0.58)

.figures-list
  font-size: 0
  text-align: center

.figures-item
  font-size: 19px
  display: inline-block
  width: 25%
  text-align: center
  color: white
  vertical-align: text-top
  margin-top: 4%
  @include mobile-l
    width: 40%
  @include mobile
    width: 50%
    margin: 8% auto
    font-size: 16px
  span
    font-size: 40px
    font-weight: 700
    display: block
    margin: 8% auto 6%
    @include desktop
      font-size: 50px
    @include mobile
      font-size: 22px
  .icon
    display: block
    margin: 0 auto
