.banner
  z-index: 0
  padding-top: 0
  padding-bottom: 15.5%
  background-image: url(../img/bg-main-1.jpg)
  background-position: 50%
  background-size: cover
  &:before
    position: absolute
    z-index: -1
    top: 0
    right: 0
    bottom: 0
    left: 0
    content: ''
    background-image: url(../pic/dotted-pattern.png)
    background-repeat: no-repeat
    background-size: cover

.header
  position: relative
  text-align: right
  opacity: .8
  background-color: #fff

.logo
  float: left
  vertical-align: middle
  text-decoration: none
  color: #000
  img
    position: relative
    top: 20px

.logo-title
  font-size: 26px
  display: inline
  span
    font-weight: 700
    margin-left: 5px

.nav
  font-size: 0
  padding: 37px 0 38px

.nav-item
  font-size: 14px
  display: inline-block
  box-sizing: border-box
  margin: 0 15px
  padding: 0 5px
  text-decoration: none
  text-transform: uppercase
  color: #000
  border-left: 5px solid transparent
  &:hover
    border-left: 5px solid #0075d0

.nav-item--icon
  border: none
  &:hover
    border: none

.search
  line-height: 22px
  display: inline-block
  padding: 3px 5px 0
  -webkit-border-radius: 50%
  border-radius: 50%
  background-color: #0075d0

.page-title
  font-family: 'Open Sans', sans-serif
  font-size: 40px
  font-weight: 700
  margin-top: 31.7%
  color: #fff

.page-subtitle
  font-family: 'Open Sans', sans-serif
  font-size: 28px
  font-weight: 400
  margin-top: 1.4%
  color: #fff