.section-blog
  padding-bottom: 12%

.post-list
  font-size: 0
  width: 100%
  margin-top: 8.1%

.post
  display: inline-block
  width: 50%
  vertical-align: top
  background-color: #fff
  position: relative
  &:nth-of-type(3) > .post-img, &:nth-of-type(4) > .post-img
    float: right
  @include mobile
    width: 100%
    &:nth-of-type(even) > .post-img
      float: right
    &:nth-of-type(odd) > .post-img
      float: left
    
.post-img
  width: 50%
  height: 0
  padding-top: 202px
  background-position: 50%
  background-size: cover
  background-repeat: no-repeat
  float: left
  &:after
    position: absolute
    top: 50%
    left: 0
    right: 0
    margin: -15px auto 0
    width: 30px
    height: 30px
    content: ''
    transform: rotate(45deg)
    background-color: #FFF 
  
.post-text
  width: 50%
  float: left
  

.post-img-1
  background-image: url(../images/blog-img-1.png)

.post-img-2
  background-image: url(../images/blog-img-2.png)

.post-img-3
  background-image: url(../images/blog-img-3.png)

.post-img-4
  background-image: url(../images/blog-img-4.png)

.post-title
  font-size: 19px
  padding: 19px
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

.post-caption
  font-size: 15px
  overflow: hidden
  max-height: 75px
  margin: 0 25px 30px 20px
  line-height: 20px
  color: #6e6e6e