.section-services
  padding-bottom: 4%

.service-list
  margin: 8% auto
  text-align: center

.service-item
  font-size: 15px
  position: relative
  display: inline-block
  box-sizing: border-box
  width: 16.66%
  text-decoration: none
  text-transform: uppercase
  color: #000
  &:hover 
    .service-title
      color: #0075d0
    .icon-hover 
      display: inline-block

.service-icon
  width: 63%
  height: 0
  margin: 0 auto 18%
  padding-top: 63%
  border: 1px solid #dfdfdf
  border-radius: 50%
  background-color: #fff
  background-repeat: no-repeat
  background-position: 50%
  box-shadow: 0 4px #bebebe
  position: relative
  
  .icon
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: auto
    &-hover
      display: none
