.team-list
  font-size: 0
  margin: 6.9% -1.25% 0
  text-align: center

.team-member
  font-size: 15px
  display: inline-block
  position: relative
  width: 22.5%
  max-width: 270px
  min-width: 200px
  margin: 1.25%
  @include mobile-s
    width: 85%
  @include mobile-l
    width: 36%
  @include desktop
    &:hover .social
      display: flex
      flex-direction: column
      justify-content: space-between
      animation-name: fadeInDown
      animation-duration: 1s

.social
  width: 100%
  li
    display: inline-block
  .fa
    font-size: 20px
    padding: 7px
    color: #fff 
    margin-top: 35%
    // background-color: #333
    width: 35px
    height: 35px
    box-sizing: border-box
  .fa-twitter
    background-color: #359BED 
  .fa-linkedin-square
    background-color: #069 
  .fa-flickr
    background-color: #FF0084 
  .fa-facebook
    background-color: #3C5B9B 
  .fa-behance
    background-color: #2D9AD2
  @include desktop
    display: none
    position: absolute
    width: initial 
    left: 0
    top: 0
    bottom: 118px
    // margin-top: -185px
    li
      display: block
      .fa
        font-size: 28px
        padding: 12px
        color: #fff 
        width: 50px
        height: 50px
        margin: 0
      &:hover 
        .fa
          cursor: pointer
          animation-name: pulse
          animation-duration: 1s
  

  // .fa
    // margin-top: 35%
    
  

.team-image
  width: 100%

.team-name
  font-weight: 700
  margin-top: 9.5%
  margin-bottom: 5.7%

.team-position
  font-weight: 700
  color: #0075d0
  &:after
    display: block
    width: 9px
    height: 9px
    margin: 17px auto
    content: ''
    border-radius: 50%
    background-color: #959595

.section-join
  margin-top: 9.2%
  padding: 50px 0
  background-color: #0075d0
  &:after
    position: absolute
    top: 0
    right: 0
    left: 0
    width: 0
    height: 0
    margin: 0 auto
    content: ''
    border-top: 15px solid #fff
    border-right: 15px solid transparent
    border-left: 15px solid transparent